@charset "UTF-8";
body,p,h1,h2,h3,h4,h5,h6,dl,dd,form,input,textarea,th,td,select{font-family:sans-serif,Arial;font-size:12px;margin:0;padding:0;}
ol,ul{margin:0;padding:0;list-style:none;}
a{text-decoration:none;}
em{font-style:normal;}
img{vertical-align:top;border:none;}/*图片下没缝隙用vertical-align*/
table{border-collapse:collapse;}
input{vertical-align:top;}
textarea{overflow:auto;resize:none;outline:none;}

/* public */
.container{width:960px;margin:0 auto;}
/* end public */

/* index(i) */
/* end index */

